.main {
    display: flex;
    width: 800px;
}
.box{
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    background-color: white;
}
.postBox{
    width: 250px;
    height: 250px;
    transition: 0.4s;
    opacity: 1;
    transition: .5s ease;
}
.box:hover .postBox{
    opacity: 0.3;
}
.midleInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.box:hover .midleInfo{
    opacity: 1;
}

.icon{
    width: 25px;
    vertical-align: text-top;
}